body {
    background-color: #ccffff;
}

/*the text welcoming the user*/
.welcome-text {
    font-family: Verdana;
}

button {
    font-size: 17px;
    border: 1px solid gray;
    background: #f2f2f2;
    border-radius: 2px;
}
button:hover {
    background: tomato;
    border: 1px solid gray;
}
/*on top of the board*/
.title {
    margin-top: 5px;
    text-align: center;
    font-family: Monaco;
}

/*my usual signature*/
.signature {
    font-family: Verdana;
    font-size: 12px;
}
img {
    width: 25px;
    height: 25px;
}

/*where a person chooses x's or o's*/
.welcome-menu {
    z-index: 10;
    position: absolute;
    background: white;
    border: 2px solid black;
    border-radius: 15px / 9px ;
    width: 365px;
    height: 320px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.show {
    height: 200px;
    transition: 0.9s;
}

.hide {
    height: 0px;
    transition: 0.3s;
}

/*the actual playing board*/
.board {
    background: url(http://img08.deviantart.net/b5aa/i/2015/140/7/c/chalkboard_by_lorelinde-d8u2phm.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 3px;
    box-shadow: 3px 5px 3px black;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

/*the scoreboard*/
.score {
    position: fixed;
    text-align: center;
    height: 150px;
    width: 220px;
    background: url(http://img08.deviantart.net/b5aa/i/2015/140/7/c/chalkboard_by_lorelinde-d8u2phm.jpg) no-repeat center;
    background-size: cover;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #ffffe6;
    border-radius: 7px;
    box-shadow: 5px 5px 3px black;
}
table {
    margin-left: 70px;
    margin-top: 10px;
    font-family: Verdana, Comic Sans MS;
    font-size: 20px;
}
.scorecount {
    font-family: Comic Sans MS;
}
/*each individual playing square where the x's and o's get traced*/
.square {
    height: 80px;
    width: 85px;
    float: left;
    text-align: center;
    color: #ffffe6;
    font-size: 40px;
    cursor: pointer;
    font-family: Comic Sans MS, cursive;
}

.square:hover {
    background: tomato;
    opacity: 0.4;
    border: 1px solid black;
    border-radius: 4px;
}

/*the wrapper for hte squares*/
.all-squares {
    margin-left: 20px; 
    margin-top: 25px;
}

/* add borders to each square individually to get that board effect*/
#sq0 {
    border-right: 2px solid #ffffe6;
    border-top: 2px solid #ffffe6;
}
#sq1 {
    border-right: 2px solid #ffffe6;
    border-top: 2px solid #ffffe6;
}
#sq2 {
    border-top: 2px solid #ffffe6;
}
#sq3 {
    border-right: 2px solid #ffffe6;
    border-top: 2px solid #ffffe6;
}
#sq4 {
    border-right: 2px solid #ffffe6;
    border-top: 2px solid #ffffe6;
}
#sq5 {
    border-top: 2px solid #ffffe6;
}
#sq6 {
    border-right: 2px solid #ffffe6;
}
#sq7 {
    border-right: 2px solid #ffffe6;
}


#go {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #8080ff;
}